body {
    background: linear-gradient(235deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70%),
        linear-gradient(125deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70%),
        linear-gradient(0deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header {
    align-self: stretch;
}

h1 {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #212121;
    padding: 10px;
    width: 336px;
}

.flex-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: #212121;
    padding: 10px;
}

.jeu-de-base {
    display: flex;
    align-self: center;
    width: 50%;
}

p,
li,
label,
h2 {
    color: aliceblue;
}

a {
    color: aliceblue;
}

.button {
    display: flex;
    justify-content: space-around;
}

.face-avant,
.face-arriere,
.case {
    /* premet d'enlever tout les expace superflux */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grille {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid greenyellow; */
}

.case {
    /* le calc permet de palier la margin */
    position: relative;
    width: calc(25% - 20px);
    height: calc(200px - 20px);
    margin: 10px;
}

.face-avant,
.face-arriere {
    position: absolute;
    /* permet de mettre les images les une sur les autres */
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;
}